.DS_Store

websites/jamesgregory-net/sources/images/honeydip/honeydip-f1.png
.gitignore
websites/jamesgregory-net/sources/images/honeydip/honeydip-f2.png
websites/jamesgregory-net/sources/images/linocutter/linocutter-f1.png
.gitignore
websites/jamesgregory-net/sources/images/linocutter/linocutter-f2.png
websites/jamesgregory-net/sources/images/rubberstamps/rubberstamp-f1.png
websites/jamesgregory-net/sources/images/sealstamps/000/stamp000-f2.png
websites/jamesgregory-net/sources/images/sealstamps/micro/stampmicro-f1.png
.gitignore
websites/jamesgregory-net/sources/images/sealstamps/proto1/stampp001-f1.png
websites/jamesgregory-net/sources/images/sealstamps/proto1/stampp001-f3.png
websites/jamesgregory-net/sources/images/sealstamps/proto1/stampp001-f4.png
websites/jamesgregory-net/sources/images/sealstamps/proto2/stampp002-f1.png
.gitignore
websites/jamesgregory-net/sources/images/sealstamps/proto2/stampp002-f2.png
websites/jamesgregory-net/sources/images/vice/vice-f1.png
websites/jamesgregory-net/sources/images/zimmer/zimmer-f1.png
