body {
    background-color: #f3e7d8;
    opacity: 0.5;
    background-image:  linear-gradient(#fff9ff 1px, transparent 1px), linear-gradient(to right, #fff9ff 1px, #f3e7d8 1px);
    background-size: 20px 20px;
}


.topnav {  /*styles the bg of the nav bar*/
  overflow: hidden;
  background-color: #333;
  margin-left: 8%;
  margin-top: 7%;
  margin-left:8%;  /* why does this not add margin to the left?*/
}

.topnav a { /*syles the links in the nav bar*/
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover { /* makes colours change when hover*/
  background-color: #ddd;
  color: black;
}



#cat {
    height: 100px;
    float:  right;
}

#cum {
    width:  150px;
    height: 20px;
}


