
body{
    background-color: #4f69ca;
    
}

header img{
    width: 100vw;
}

footer img{
    width: 100vw;
}

.bottom-left {
  position: absolute;
  bottom: 0px; /*next job is getting this to work */
  left: 0px;
}



.whiteboard{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../../sources/images/lpstransparentwb.png") no-repeat;
    background-size: contain;
    margin: auto;
    height: 441px;
    width:  714px;
    }


.wbheader{
    color: #f8759f;
    font-family: fantasy; /*i want to change this to the LPS font*/
    font-size: x-large;
    padding-bottom: 30px;
}

.wbtext{
    color: #38b3d5;
    font-family: fantasy; /*i want to change this to the LPS font*/
    font-size: large;
}










@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

