
body{
    background-color: #4f69ca;
    
}

header img{
    width: 100vw;
}

.footer {
  position: relative;
  text-align: center;
  color: #f8759f;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}




.whiteboard{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../../sources/images/lpstransparentwb.png") no-repeat;
    background-size: contain;
    margin: auto;
    height: 441px;
    width:  714px;
    }


.wbheader{
    color: #f8759f;
    font-family: fantasy; /*i want to change this to the LPS font*/
    font-size: x-large;
    padding-bottom: 30px;
}

.wbtext{
    color: #38b3d5;
    font-family: fantasy; /*i want to change this to the LPS font*/
    font-size: large;
    a:link {
    color: #38b3d5;
    text-decoration: none;
    }
    a:visited {
    color: #38b3d5;
    text-decoration: none;
    }
    a:hover {
     color: #3094b0;
    text-decoration: none;
    }
}










@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

