body{
    background-color: #4f69ca;
    
}

header img{
    width: 100vw;
}





article{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../../sources/images/lpstransparentwb.png") no-repeat;
    background-size: contain;
    margin: auto;
    height: 441px;
    width:  714px;
    }

