body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe6fc;
}


.header{
    color: #000000;
    padding: 0px 0px 0px 1%;
    position: static;
    z-index: 2;
    font-size: xx-large;
    margin-left: 8%;
    margin-top: 13%;
}

.small-text{
    color: #000000;
    opacity: 0;
    animation: fadeInAnimation 0.1s ease 0.05s;
    animation-fill-mode: forwards;
    padding: 0px 0px 0px 1%;
    position: static;
    z-index: 2;
    margin-top: 1px;
    margin-left: 8%;
    margin-bottom: 1%;
    
}


pre{
    color: #000000;
    opacity: 0;
    animation: fadeInAnimation 0.1s ease 0.05s;
    animation-fill-mode: forwards;
    padding: 0px 0px 0px 1%;
    position: static;
    z-index: 2;
    margin-top: 1px;
    margin-left: 8%;
    margin-bottom: 1%;
}

/* added css specific for PRE since im using
this for any poetry additions (or fish teir lists rn).
currently styled the same as small-text but here
for future use*/


.nav{
    opacity: 0;
    animation: fadeInAnimation 0.3s ease 0.3s;
    animation-fill-mode: forwards;
    padding: 0px 0px 0px 1%;
    position: static;
    width: 12%;
    z-index: 2;
    margin-top: 1px;
    margin-left: 8%;
    overflow: hidden; /* decides what happens when content dosnt fit on page */
}

.nav a {
    float: left;
    color: #000000;
    min-width: 128px;
    min-height: 45px;
    text-align: center;
    padding: 12px 0.3%;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 10%;
    left: 0px;
    text-decoration: none;
    font-size: 26px;
}
/*# is for ids*/
#cat {
    height: 100px;
}

#cum {
    width:  150px;
    height: 20px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}