
body {
    margin: 0px;
    display: grid;
    place-items: center;
    font-family: "Inter var", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #a0929e;
}

* {
   # border: red 1px solid;
}

.topbar{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10rem, min-content;
    max-width: 95%;
    justify-content: center;
    border-bottom: black 2px solid;
}

header{
    display: inline-flex;
    flex-direction: row;
}

header h1{
    margin: 1rem;
    font-size: 2rem;
}

header img{
    height: 10rem;
    width: auto;
}

nav {
    align-items:flex-end;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    height: min-content;
}

nav a{
    padding: 1rem;
    margin: 0.1rem;
    background-color: pink;
    width: 10rem;
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

main div {
    width: 38rem;

}

footer{
    margin: 0.3rem;
    position: fixed;
    width: 90%;
    bottom: 0rem;
    height: 5rem;
    font-size: 1rem;
    padding: 1rem;
    border-top: black 2px solid;