
body  {
        background-repeat: no-repeat, repeat;
        display: grid;
        justify-items: center;
        background:url("../../sources/images/home/musicribbon2.psd.png"), url("../../sources/images/backgrounds/pinkbg.png");  
        background-repeat: no-repeat, repeat;
        background-size: 6.5rem, auto;

}
.page {
  padding-top: 1.625rem;
    padding-left:  3.9rem;
    padding-right: 2.6rem;
    display: grid;
    grid-template-columns: 19.5rem 65.0rem;
    grid-template-rows: 42.25rem;
}

  .left {
    /*border: 0.195rem solid #845f4a; */
    display: grid;
    grid-template-columns: 45%;
    grid-template-rows: 13.0rem 4.225rem 5.525rem 3.25rem auto;
  }

        .left div{
         /*border: 0.195rem solid #b9ac8c; */
        }


        .fanlistings{
          padding-left: 0.845rem;
          color: #845f4a;
        }
        .fanlist{
          padding-left: 0.455rem;
          padding-top: 0.26rem;
          background: #93617d30;
          transition: all, .5s;
          -moz-transition: all, .5s;
          -webkit-transition: all, .5s;
        }
        .fanlist:hover {
        background: #93617d80;
        transition: all, .5s;
        -moz-transition: all, .5s;
        -webkit-transition: all, .5s;}


        .box1 {
          margin: auto;
          width: fit-content;
  height: fit-content;
  background-color: #f0eddc;
      background-size: auto;
  padding: 0.585rem;
  border-radius: 0.52rem;
  border: 0.13rem groove white;
  background-size: 6.5rem;
        }





        .badges{
          display: grid;
          grid-template-columns: 64% 30%;
        }
        .badge1{
          padding-top: 0.325rem;
          padding-left: 1.04rem;
        }
        #badge1{
          width: 4.225rem;
          animation: spin 5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          padding-top: 0.65rem;
        }        
        
        .badge2{
          padding-left: 0.13rem;
           display: grid;
           grid-template-rows: 64% 30%;
        }
        #badge2{
          width: 2.925rem;
          animation: spin 12s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        #mood {

        }

        #cute{
          padding-left: 0.65rem;
          padding-top: 2.08rem;
        }

        #neo{
          padding-left: 0.975rem;
          padding-top: 0.325rem;
        }



        @keyframes spin {
          from {transform:rotate(0deg);}
          to {transform:rotate(360deg);}
          

        }
        
        .incompetence{
          grid-area:4/1/4/3 ;
          padding-left: 1.3rem;
          padding-top: 0.195rem;
        }
          .ascii{
          grid-area:5/1/5/3;
          padding-left: 2.6rem;
        }


        
  .main{
  background: url("../../sources/images/home/paper.png") no-repeat right;
  background-size: 39.0rem 42.25rem;
  display: grid;
  grid-template-columns:13.0rem 13.0rem 39.0rem;
  grid-template-rows: auto;
  }
  .main > div {
  font-size: 1.95rem;
  }

          .navigation{
            grid-area: 1/1/1/3;
          }

          .topnav { 
          display: flex;
          grid-area: 1/1/1/3;
          display: grid;
          grid-template-rows: 4.225rem 18.2rem;
          text-align: center;
          }

          .navbuttons{
            padding-top: 2.6rem;
          }

        .button{

          background-color:#b9ac8c;
          color: #f0eddc;
          text-align: center;
          text-decoration: none;
          font-size: 1.3rem;
          padding: 0.65rem 1.3rem;
          border-radius: 0.52rem;
          cursor: pointer;
          border: #f0eddc 0.13rem;
          
        }

        .button:hover {
          background-color: #dfa0aa;
        }

          .undernav{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 14.3rem 2.275rem;
          }

          .camera{
            padding-top: 1.95rem;  
            padding-left: 2.47rem;
          }
          #camera{
            width:  21.06rem;
            height: 11.83rem;
            border-radius: 1.04rem;
/* 1,200 × 675    400 x 225*/

          }
          .scrolling {
            grid-area: 2/1/3/4;
          }

          .underundernav{
            grid-area: 3/1/3/4 ;
            height: 19.5rem;
            display: grid;
            grid-template-rows:3.25rem 1.625rem 14.95rem;
            padding-top: 0.65rem;
          }


          .todo{
            background: url("../../sources/images/home/greenrec.png" );
            background-repeat: no-repeat;
            background-size:25.35rem 14.625rem;
          }
              .formcontroll{
                text-align: left;
                padding-top: 4.875rem;
                padding-left: 4.225rem;
                font-size: 1.3rem;
                line-height: 0.64;
                display: grid;
                grid-template-columns: 1em auto;
                gap: 0.65rem;
                appearance: none;
                accent-color: #845f4a;
                }
          






    .fabricSection {
      grid-area: 1/3/4/4;
      display: grid;
      grid-template-rows: 27.3rem 8.125rem;
    }

    .fabricSection > div {

    }
        
        .hello{
          grid-area: 1/1/2/3;
          display: grid;
          grid-template-columns: 70% 25%;
        } 
        .hello1{
          grid-area: 1/1/3/2;
          padding-top: 5.655rem;
          padding-left: 6.175rem;
          float: left;
          color: #dfa0aa;
          font-size: 1.43rem;
          line-height: 1
        }
        .helloright div{
          padding: 0.975rem;
          /* border: 0.195rem solid purple; */
        }
        .pochaco{
          margin-top: 0.52rem;   
          
        }
        #pochaco{
          width: 3.25rem;
          float: right;
        }
        .angelicpretty{
          margin-top: 1.755rem;
          margin-left: 1.3rem;
        }

          .webringsbox{ 
            display: grid;
            padding-left: 1.885rem;
            margin-top: -0.65rem;
          }
          
          .webrings{
          overflow: scroll;
          height: 2.275rem;
          width: 19.5rem;
          color: #ca8792;
          outline: dashed 0.143rem #b9ac8c;
          border-radius: 1.3rem;
          border-style: solid ;
          border-color: #dfa0aa;
          padding: 0.65rem;
          border-width: 0.195rem; 
          margin: 0.26rem;
          border-radius: 1.3rem;

          display:grid;
          grid-template-rows: auto;
          scrollbar-color: pink #dfa0aa;
          overflow-x: hidden;
        }


        .fabricbottom div{
        }

        .fabricbottom{
          display: grid;
          grid-template-columns: 1fr 1fr

        }


        .fabric1{
          padding-left: 6.5rem;
          height: 13.0rem;
          width: 24.7rem;

        }

        .updates {
          overflow: scroll;
          height: 10.4rem;
          width: 27.95rem;
          color: #ca8792;
          outline: dashed 0.143rem #b9ac8c;
          border-radius: 1.3rem;
          border-style: solid ;
          border-color: #dfa0aa;
          padding: 0.65rem;
          border-width: 0.195rem; 
          margin: 0.26rem;
          border-radius: 1.3rem;

          display:grid;
          grid-template-rows: auto;
          scrollbar-color: pink #dfa0aa;
          scrollbar-width: thin;
          overflow-x: hidden;
        }

        .noticeboard{
          border-bottom: dashed 0.143rem #b9ac8c;
          padding-bottom: 0.13rem;
          margin-top: -0.195rem;
          color: #845f4a;
          font-size: 1.105rem;
        }

        #nb{
          height: 1.495rem;
        }

        .updatetitle {
          color: #a4997c;
          font-weight: 700;
          font-size: 1.235rem;
        }
        .updatetext{
          font-size: 1.105rem;
        }
        #divider{
          width: 26.65rem;
          padding-bottom: 0.39rem;
        }

        .date{
          color:#845f4a;
          font-size: 0.78rem;
        }






        .kitty{
          padding-left: 27.56rem;
          margin-top: -0.585rem;
        }


        .fourtwo{
          height:6.5rem
        }












/*
brown 845f4a 
ligher brown/grey b9ac8c
eggshell f0eddc
pink dfa0aa
*/
#cum {
    width:  9.75rem;
    height: 1.3rem;
    position: fixed;
    right: 0;
    top: 0
}
#cat {
  height: 6.5rem;
}
#ap{
  height: 8.125rem;
}

