body {
    background: url(../../sources/images/egl/wrap-top-bg.png) repeat-x center top, url(../../sources/images/egl/belle_journee_bg.jpg) repeat center top;
    background:url("../../sources/images/egl/wrap-top-bg.png"), url("../../sources/images/egl/belle_journee_bg.jpg");  
    background-repeat: repeat-x, repeat;
    background-size:auto, auto;
    display: grid;
    justify-items: center;
    margin: 0.975rem;
    

}

.topstuff{
    height: 12.35rem;
    width:100%;
    display: grid;
    grid-template-columns: 6.825rem auto 6.825rem ;
}

.topstuff div{
    border: 0.065rem solid #845f4a;
    text-align: center;
}

    .leftbunny{
        display: grid;
        grid-template-rows: 2.47rem auto;
    }
    .rightbunny{
        display: grid;
        grid-template-rows: 2.665rem auto;
    }
    #bunny{
        height: 6.5rem;
    }
    .nav{
        display: grid;
        grid-template-rows: 6.5rem auto ;
    }

        .stamps{}

          .navbuttons{
            padding-top: 0.65rem;
          }

        .button{
          background-color:#f0b4be;
          color: #f0eddc;
          text-align: center;
          text-decoration: none;
          font-size: 0.975rem;
          padding: 0.52rem 0.65rem;
          border-radius: 0.52rem;
          cursor: pointer;
          border: 0.13rem solid #dfa0aa;
          font-weight: 800;
        }

        .button:hover {
          background-color: #dfa0aa;
        }    
       
.box{
    display: grid;
    grid-template-columns: 15.6rem 65.0rem 15.6rem
}

.lmargin{
    display: grid;
    grid-template-rows: 6.5rem auto auto;
    grid-template-columns: 8.775rem 8.775rem ;
}
.rmargin div{
     border: 0.065rem solid #845f4a;
}

.lmargin div{
     border: 0.065rem solid #845f4a;
}

.rmargin{
    display: grid;
    grid-template-rows: 6.5rem auto auto;
    grid-template-columns: 8.775rem 8.775rem ;
}










.mainstuff{
    margin-top: 2.6rem;
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    height: auto;
    display: grid;
    grid-template-rows: 1.3rem 55.25rem 1.3rem;
    color: #90481B ;
}


#border {
    width: 59.8rem;
    
}
.pink{
background-color: #ffc5c9;
padding: 0.975rem;
}

    .welcometext{
        padding-bottom: 0.65rem;
    }
    .basics{
        display: grid;
        border-top: #f0eddc 0.195rem dashed;
        padding-top: 0.325rem ;
        padding-bottom: 0.325rem;
    }
        .rose{
            display: grid;
            grid-template-columns: 91% 10%;
        }






    .lolitasname{
        display: grid;
        border-top: #f0eddc 0.195rem dashed;
        padding-top: 0.325rem ;
        border-bottom: #f0eddc 0.195rem dashed;
        padding-bottom: 0.325rem;
    }

            .mag{
                display: grid;
                grid-template-columns: 6.5rem auto;
                padding-top: 0.455rem;
            }
            #RyukouTsushin {
                width: 6.5rem;
            }
            .magtext{
                padding-left: 0.65rem;
            }
            .undermag{
                grid-area: 3/1/2/3;
                padding-top: 0.65rem;
            }
            .rant{
                grid-area: 4/1/3/3;
                padding-top: 0.195rem;
                font-size: 0.845rem;
                color: #845f4a;
            }
            .name{
                grid-area: 4/1/4/3;
                padding-top: 0.65rem;
            }



















    #link{
        color: #90481B;
        text-decoration: none;
        font-weight: 550;
    }

    #lowkeylink{
        color: #90481B;
        text-decoration: none;
    }