body  {
        display: grid;
        justify-items: center;
        background:url("../../sources/images/home/musicribbon2.psd.png"), url("../../sources/images/backgrounds/pinkbg.png");  
        background-repeat: no-repeat, repeat;
        background-size: 6.5rem, auto;

}


.container {
    padding-top: 1.95rem;
    padding-left:  3.9rem;
    padding-right: 2.6rem;
}

    .main{ 
        display: grid;
        grid-template-columns: 32.5rem 16.25rem;
        background-color: #dfa0aa80;
        padding: 0.65rem;
    }

        
        .txtbox {
            background-color: white; 
            border-radius: 0.325rem;
        }
            .boxheader {
                border-bottom: 0.065rem solid #845f4a;
                padding: 0.195rem;
                text-align: center;
                border-radius: 0.325rem;
                color: #dfa0aa80;
                font-weight: 1000;
                font-size: 1.3rem;
            }
           
            .txt{
                padding: 0.39rem;
                font-size: 1.105rem;
                border: 0.065rem solid #845f4a;
                text-align: center;
                border-radius: 0.26rem;
                color: #845f4a;
            }

            #homebutton{
                padding-top: 0.65rem;
                height: 6.175rem;
            }
            .homebutton{
                font-size: 0.975rem;
                color: #845f4a;
            }


        
        
        .resources{
            background-color: white;
            border: 0.065rem solid #845f4a;
            border-radius: 0.26rem;
            margin-right: 0.65rem;
            color: #845f4a;
            padding-bottom: 1.3rem;
        }
            .reheader{
                background: url("../../sources/images/backgrounds/tinydots.gif" );
                border-bottom: 0.065rem solid black;
                padding: 0.13rem;
                padding-left: 0.52rem;
                padding-right: 0.52rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.43rem;
            }
            a.link{
                font-size: 1.43rem;
                color: #845f4a;;
            }

            .resubheader{
                background: url("../../sources/images/backgrounds/tinydots.gif" );
                border: 0.065rem dotted black;
                padding: 0.26rem;
                margin: 0.325rem;
                font-size: 1.17rem;
            }
            a.smallerlink{
                font-size: 1.17rem;
                color: #845f4a;
            }

                .description{
                    margin-right: 0.325rem;
                    margin-left: 1.3rem;
                    padding: rem;
                    padding-left: 2.275rem;
                    border-left: 0.065rem dotted black;
                    font-size: 1.04rem;
                    color: #b9ac8c;
                }


            .list{
            margin-right: 0.325rem;
            margin-left: 1.3rem;
            padding: 0.325rem;
            padding-left: 0.975rem;
            border-left: 0.065rem dotted black;
            }

            
#divider{
width: 14.95rem;
padding-top: 0.65rem;
padding-bottom:0.13rem;
}
            