/*i know this is messy <3  im gonna organise it soon promiseeee*/
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfa0aa;
}

.header{
    color: #000000;
    padding: 0px 0px 0px 1%;
    position: static;
    z-index: 2;
    font-size: xx-large;
    margin-left: 8%;
    margin-top: 7%;
}


.small-text{
    color: #000000;
    opacity: 0;
    animation: fadeInAnimation 0.1s ease 0.05s;
    animation-fill-mode: forwards;
    padding: 0px 0px 0px 1%;
    position: static;
    z-index: 2;
    margin-top: 1px;
    margin-left: 8%;
    margin-bottom: 1%;
    
}


.nav{
    opacity: 0;
    animation: fadeInAnimation 0.3s ease 0.3s;
    animation-fill-mode: forwards;
    padding: 0px 0px 0px 1%;
    position: static;
    width: 12%;
    z-index: 2;
    margin-top: 1px;
    margin-left: 8%;
    overflow: hidden; /* decides what happens when content dosnt fit on page */
}

.nav a {
    float: left;
    color: #000000; /* dunno if you want this to be this colour, if this line is removed it will fallback to your style.css*/
    min-width: 128px;
    min-height: 45px;
    text-align: center;
    padding: 12px 0.3%;
    margin-right: 1%;
    margin-top: 0%;
    margin-bottom: 10%;
    left: 0px;
    text-decoration: none;
    font-size: 26px;
}

a {
    text-decoration: none;
}





@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}










#blinkie {
    width:150px;
    height:20px;
}

#blinkie2 {
    width: 188px;
    height: 25px;
}

#smallPixel {
    height: 23px;
    padding-left: 3px;
}




.heart:hover {
  transition: all 0.5s;
  -webkit-mask-image: url(https://dl.dropbox.com/s/2kih8ox9q2czjeg/pngfind.com-kawaii-transparent-png-621355.png);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}






.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }

#melonGuild-34{
    background:  #07f2ff; //miku teal
    background-size: cover;
    color: black;
    }
    
#melonGuild-34 .melonGuild-info{
    margin-left: .125em;
    margin-right: .125em;}
    
#melonGuild-34 .melonGuild-links img{
    border-radius: 50px;
    border: .125em solid #ff50a8;
    }



/*
brown 845f4a 
ligher brown/grey b9ac8c
eggshell f0eddc
pink dfa0aa


a:link {
  color: pink;
  text-decoration: none;
}
a:visited {
  color: rgb(248, 176, 217);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 176, 217);
  text-decoration: none;
}
  gonna copy this into a pages css when i need it later
*/