        
          .todo{
            grid-area:1/1/2/4 ;
            background: url("../../sources/images/home/greenrec.png" );
            background-repeat: no-repeat;
            background-size:400px 225px;
            
          }
              .formcontroll{
                text-align: left;
                padding-top: 65px;
                padding-left: 60px;
                font-size: 20px;
                line-height: 0.64;
                color:;
                display: grid;
                grid-template-columns: 1em auto;
                gap: 10px;
                appearance: none;
                accent-color: #845f4a;
                }