
body  {
      background: url("../../sources/images/dots.png") repeat;
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
}

.container div {
  border: 2px solid red;
  padding-top: 30px;
  padding-right: 20px;
  text-align: center;
}





    #fabric {
        padding-left:20px ;
        width:  600px; 
      }





      
/*
brown 845f4a 
ligher brown/grey b9ac8c
eggshell f0eddc
pink dfa0aa
*/
