.page{
  background-color: #f0eddc ;
  padding-top: 10px;
  padding-left:  60px;
  padding-right: 60px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1000px 300px;
}
















/*
brown 845f4a 
ligher brown/grey b9ac8c
eggshell f0eddc
pink dfa0aa
*/
