

a {
    text-decoration: none;
}

.container {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 22rem);
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container a:hover {
    box-shadow: 0rem 1rem 1rem 0rem rgba(0,0,0,0.4);
    transition-duration: 0.2s;
}

.container a{
    color: #ebdbb2;
    font-size: 1.6em;
    text-decoration: none;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #665c54;
    box-shadow: 0rem 1rem 1rem 0rem rgba(0,0,0,0.3);
    width: 20rem;
    height: 20rem;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.container image {
    width: 100%;
    height: max-content;
}

.container h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: 
