services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    ports:
      - "443:443/tcp"
      - "80:80/tcp"
    volumes:
      - ./traefik/acme/:/acme
    networks:
      default:
         ipv6_address: "fd00:1:4::fff1"
    deploy:
      labels:
        com.ouroboros.enable: "true"

  git-web:
    container_name: git-web
    image: ghcr.io/bobgregory/websites:latest
    restart: unless-stopped
    deploy:
      labels:
        com.ouroboros.enable: "true"
    links:
     - nginx-php

  nginx-php:
    container_name: nginx-php
    image: ghcr.io/bobgregory/websites-php:latest
    restart: unless-stopped
    deploy:
      labels:
        com.ouroboros.enable: "true"
#    volumes:
#      - ./nginx-web/webdir:/var/www/
#      - ./nginx-web/php-log:/var/log/
    links:
     - nginx-redis

  updater:
    image: gmt2001/ouroboros:latest
    container_name: updater
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/root/.docker/config.json:ro
    environment:
        - INTERVAL=300
        - CLEANUP=true
        - LOG_LEVEL=info
        - SELF_UPDATE=false
        - LABEL_ENABLE=true
        - LABELS_ONLY=true