main div{
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-top: 3rem;

}

main div div{
    background-image: url("../committee/blank.png");
    background-color: #b57614;
    background-size: contain;

    width: 85%;
    border-radius: 1rem;
    margin: 0 1rem 0 1rem;
    height: 0;
    padding-bottom: 85%;
    aspect-ratio: 1 / 1;
}
main div img {
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 1rem;
    transition: ease-in-out 2s 1s;
}

#club, #committee{
    background-color: #b57614;
    color: #ebdbb2;
}

#club:hover, 
#committee:hover{
    background-color: #8f3f71;
}