
body {
    margin: auto;
    display: grid;
    max-width: 95%;
    min-width: 60%, min-content;
    place-items: center;
    font-family: "Inter var", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #3c3836;
    color: #ebdbb2;
}

* {
    #  border: red 1px solid;
}

a {
    color: #ebdbb2;
    text-decoration: none;
}

.topbar{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10rem, min-content;
    
    justify-content: center;
    
    
}

header{
    display: inline-flex;
    flex-direction: row;
}

header h1{
    margin: 1rem;
    font-size: 2rem;
}

header img{
    height: 10rem;
    width: auto;
}

nav {
    align-items:flex-end;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    height: min-content;
}

nav a{
    padding: 1rem;
    margin: 0.3rem;
    
    width: 10rem;
    font-size: 2rem;
    border-radius: 1rem;
}

nav a:hover{
    padding: 1rem;
    margin: 0.3rem;
    background-color: #8f3f71;
    width: 10rem;
    font-size: 2rem;
    border-radius: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    min-width: 65%;
    justify-content: center;
    align-items: center;
    border-top: #8f3f71 0.3rem solid;
    border-radius: 0.2rem;
}

main div {
    width: 38rem;

}

footer{
    margin: 0rem;
    position: fixed;
    max-width: 95%;
    min-width: 60%;
    display: grid;
    place-items: center;
    bottom: 0rem;
    height: 5rem;
    font-size: 1rem;
    padding: 1rem;
    background-color: #3c3836;
    border-top: #8f3f71 0.3rem solid;
    border-radius: 0.2rem;
}