name: Build docker images and push

on:
  push:

concurrency:
  group: james

env:
  REGISTRY: ghcr.io

jobs:
  build:
    name: Build Containers
    runs-on: ubuntu-latest
    permissions:
        packages: write
    strategy:
      matrix:
        component: ["nginx", "php"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/bobgregory/websites
          flavor: latest=false
          tags: |
            type=raw,value=release,value=${{ matrix.component }}

      - name: Login to the docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: bobgregory
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.component }}.Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/bobgregory/websites:${{ matrix.component }}-buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/bobgregory/websites:${{ matrix.component }}-buildcache,mode=max